#button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-row div{
  margin: 3px;
  padding: 5px;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 700px;
  padding-top: 50px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

h3 {
  margin-top: 0px;
}

mat-tab-group {
  align-items: center;
}

.mat-card {

  margin-bottom: 40px;
}

.special {
  background-color: aqua;
}